<%= simple_form_for @ticket, :html => {role: 'form', class: "form form-inline"} do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <%= f.input :date_submitted, :as => :hidden, input_html: { value: Time.now } %>
  </div>
  <div class="row">
    <%= f.input :date_occurred %>
  </div>
  <div class="row">
    <%= f.input :affected_user, :label => "Affected user" %>
  </div>
  <div class="row">
    <%= f.input :problem_description, :label => "Description of the problem" %>
  </div>
  
  <%= f.button :submit %>
<% end %>
