<div class="container well">
	<h1>Editing Ticket</h1>

	<%= simple_form_for @ticket do |f| %>
	  <%= f.error_notification %>
	  <div class="col-md-6">
	    <%= f.input :date_submitted, :as => :datetime_picker %>
	    <%= f.input :date_occurred, :as => :datetime_picker %>
	    <%= f.input :affected_user %>
	    <%= f.input :problem_description %>
	    <%= f.input :date_resolved, :as => :datetime_picker %>
	    <%= f.input :problem_resolution %>
	    
	    <%= f.button :submit %>
	  </div>
	<% end %>
</div>