<p id="notice"><%= notice %></p>

<h1>Listing Tickets</h1>

<table>
  <thead>
    <tr>
      <th>Date submitted</th>
      <th>Date occurred</th>
      <th>Affected user</th>
      <th>Problem description</th>
      <th>Date resolved</th>
      <th>Problem resolution</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.date_submitted %></td>
        <td><%= ticket.date_occurred %></td>
        <td><%= ticket.affected_user %></td>
        <td><%= ticket.problem_description %></td>
        <td><%= ticket.date_resolved %></td>
        <td><%= ticket.problem_resolution %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
