<div class="container well">
  <h1>All Trouble Tickets</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date submitted</th>
        <th>Date occurred</th>
        <th>Affected user</th>
        <th>Date resolved</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @tickets.each do |ticket| %>
        <% if ticket.date_resolved.present? %>
          <tr class="success">
        <% else %>
          <tr class="danger">
        <% end %>
          <td><%= DateTime.strftime(ticket.date_submitted, '%A, %d %b %Y %l:%M %p') %></td>
          <td><%= DateTime.strftime(ticket.date_occurred, '%A, %d %b %Y %l:%M %p') %></td>
          <td><%= ticket.affected_user %></td>
          <td><%= DateTime.strftime(ticket.date_resolved, '%A, %d %b %Y %l:%M %p') %></td>
          <td><%= link_to 'Show', ticket, :class => 'btn btn-sm btn-default' %></td>
          <td><%= link_to 'Edit', edit_ticket_path(ticket), :class => 'btn btn-sm btn-default' %></td>
          <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-sm btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Ticket', new_ticket_path, :class => "btn btn-default" %>
</div>