<p>Date Submitted: <%= @ticket.date_submitted %></p>
<p>Date Occurred: <%= @ticket.date_occurred %></p>
<p>Affected User: <%= @ticket.affected_user %></p>
<p>Problem Description: <%= @ticket.problem_description %></p>
<p>Date Resolved: <%= @ticket.date_resolved %></p>
<p>Problem Resolution: <%= @ticket.problem_resolution %></p>

<%= link_to 'Back', tickets_path, :class => "btn btn-default" %>
